# Ignore the virtual environment
.venv/

# Ignore Poetry's cache directory
.poetry/

# Ignore build files
build/
dist/

# Ignore Python compiled files
*.pyc
*.pyo
__pycache__/

# Ignore project-specific files
.env
.env.*

# Ignore operating system and editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.pyc
*.swp
*~
